<div class="container" style="margin: 0;">
	<h1>Listing for Users</h1>
	<table>

		<% @users.each do |user| %>
			<tr>
				<td><%= user.lastname %></td>
				<td><%= user.firstname %></td>
				<td><%= user.age %></td>
				<td><%= user.email %></td>
				<td><%= link_to 'Show', user %></td>
			</tr>
		<% end %>
	</table>
</div>